<div class="col-lg-6 col-10">
</div>
<br>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Proveedor</th>
            <th>Fecha de Visita</th>
            <th>
                <button class="button col-lg-6 col-10" (click)="NuevoProveedor()" data-bs-toggle="modal"
                    data-bs-target="#modalProveedor">
                    Nuevo
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prov of vectorProveedores">
            <td>{{prov.id}}</td>
            <td>{{prov.nombre}}</td>
            <td>{{prov.fechaVisita | date:'dd/MM/yyyy HH:m'}}</td>
            <td>
                <button class="buttonEd margin me-5" data-bs-toggle="modal" data-bs-target="#modalProveedor"
                    (click)="EditarProveedor(prov)">Editar</button>
                <button class="buttonE" (click)="EliminarProveedor(prov)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalProveedor" #modalProveedor data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modalProveedor" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalProveedor">{{isNew?'Nuevo':'Editar'}} Proveedor
                    {{this.proveedorSeleccion?.nombre}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-cu-proveedores [proveedor]="proveedorSeleccion"></app-cu-proveedores>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="GuardarProveedor()">Guardar</button>
            </div>
        </div>
    </div>
</div>