
<br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Proveedor</th>
            <th>
                <button class="button col-lg-8 col-10" (click)="NuevoProducto()" data-bs-toggle="modal"
                    data-bs-target="#modalProducto">
                    Nuevo
                </button>
            </th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of vectorProductos">
                <td>{{prod.id}}</td>
                <td>{{prod.nombre}}</td>
                <td>{{prod.precio}}</td>
                <td>{{prod.stock}}</td>
                <td>{{prod.Proveedor}}</td>
                <td>
                    <button class= "buttonEd col-lg-4 margin me-1" data-bs-toggle="modal" data-bs-target="#modalProducto"
                        (click)="EditarProducto(prod)">Editar</button>
                    <button class="buttonE col-lg-4" (click)="EliminarProducto(prod)">Eliminar</button >
                </td>
            </tr>
        </tbody>
    </table>
    <br>

<!-- Modal -->
<div class="modal fade" id="modalProducto" #modalProducto data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modalProducto" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalProducto">{{isNew?'Nuevo':'Editar'}} Producto
                    {{this.productoSeleccion?.nombre}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-cu-producto [producto]="productoSeleccion"></app-cu-producto>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="GuardarProducto()">Guardar</button>
            </div>
        </div>
    </div>
</div>