@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

:host {
    display: block;
    background-image: url('../assets/Background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}