.swal-popup {
    background-color: #008000;
    /* Color verde */
}

.swal-icon--success {
    fill: #0000FF;
    /* Color azul */
}

.swal-button--confirm {
    background-color: #000000;
    /* Color azul */
}