<form>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" *ngIf="proveedor" class="form-control" id="Nombre" name="Nombre"
            placeholder="Ingrese el nombre" [(ngModel)]="proveedor.nombre">
    </div>
    <div class="mb-3">
        <label for="fechaRegistro" class="form-label">Fecha Registro</label>
        <input class="form-control" id="fechaRegistro" type="datetime-local" *ngIf="proveedor" name="fechaRegistro"
            [ngModel]="formatDateTimeLocal(proveedor.fechaRegistro)" (ngModelChange)="updateDate($event)">
    </div>
</form>