<form>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" *ngIf="proveedor" class="form-control" id="Nombre" name="Nombre"
            placeholder="Ingrese el nombre" [(ngModel)]="proveedor.nombre">
    </div>
    <div class="mb-3">
        <label for="fechaVisita" class="form-label">Fecha de Visita</label>
        <input class="form-control" id="fechaVisita" type="datetime-local" *ngIf="proveedor" name="fechaVisita"
            [ngModel]="formatDateTimeLocal(proveedor.fechaVisita)" (ngModelChange)="updateDate($event)">
    </div>
</form>